* {
    padding: 0;
    margin: 0;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem 5rem;
    overflow: hidden;
}

.box h1 {
    display: flex;
    padding-bottom: 8px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    flex-flow: row wrap;

    font-size: 34px;
    font-weight: 400;
}

.box p {
    display: flex;
    flex-flow: row wrap;

    font-size: 20px;
    font-weight: 400;
}

.box button {
    width: 320px;
    background-color: #5995fd;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.box button:hover {
    background-color: #4d84e2;
}
